extends extends/layout.jade
block css
    link(rel="stylesheet", href="/css/index.css")
    link(rel="stylesheet", href="/css/admin.css")
block content
    header.white.bg-gray.bg-cover.bg-center.welcome.bg-fixed.full-height#header
        div.px2.py4.shadow.full-height
            h2.h2.caps.center.my3 Login
            form.sm-col-3.mx-auto(action="/admin/login" method="post")
                label username
                input.block.full-width.mb2.field-light(type="text", name="username")
                label password
                input.block.full-width.mb2.field-light(type="password", name="password")
                button.button(type="submit") Login
block js
