extends extends/layout.jade
block css
    link(rel="stylesheet", href="/css/dashboard.css")
block content
    nav.white.bg-black.clearfix
        .sm-col
        .sm-col-right
            a.button.m1(href="/admin/add/article") Add
    .overflow-scroll.p4.full-height
        table.table-light.overflow-hidden.bg-white.border.rounded.center
            thead.bg-darken-1
                tr
                    th.center 名称
                    th.center 时间 
                    th.center 操作
            tbody
                each i in [{title: 'a', time: '2015-05-22', id: "123123"}, {title: 'a', time: '2015-05-22', id: "123123"}, {title: 'a', time: '2015-05-22', id: "123123"}]
                    tr(data-id=i.id)
                        td= i.title
                        td= i.time
                        td
                            a.edit-article.button.button-small.mr1(href="/admin/edit/" + i.id) 修改
                            a.delete-article.button.button-small(href="#") 删除 
