extends extends/layout.jade
block import
    link(rel="stylesheet", href="css/index.css")
block content
    div.container-fluid.welcome
        div.shadow
        div.row
            div.col-xs-6.col-xs-offset-3
                h1 Phishing's Blog
        div.row
            div.col-xs-6.col-xs-offset-3
                h3 blog.phishing.wang
    div.container-fluid.content

