extends extends/layout.jade
block css
    link(rel="stylesheet", href="/css/index.css")
block content
    header.white.bg-gray.bg-cover.bg-center.welcome.bg-fixed#header
        div.center.px2.py4.shadow.full-height
            h1.h1.h0-responsive.caps.mt4.mb0.regular PHISHING
            p.h3 A Blog Write By Phishing
            a.h3.button.mt1.button-outline(href="#") Look
    section.container.content.clearfix.p4#content
        each i in [{href: '#',title: 'this is a title',cont: 'these are content;these are content;these are content;these are content;these are content;these are content;', sr: 'scale up 20%'},{href: '#',title: 'this is a title',cont: 'these are content;these are content;these are content;these are content;these are content;these are content;', sr: 'roll 15deg'},{href: '#',title: 'this is a title',cont: 'these are content;these are content;these are content;these are content;these are content;these are content;', sr: 'spin 180deg'}]
            .article-item.mx-auto.sm-col-8.py2.op03(data-sr=i.sr)
                h3.h1.mb2.ml2
                    a.bold.regular.black.no-decoration(href=i.href)= i.title
                p.h4.regular.gray= i.cont

block js
    script(src="/js/index.js")
    script(src="/scrollReveal.js/dist/scrollReveal.min.js")
    script.
        window.sr = new scrollReveal()
        $('#header').height(document.documentElement.clientHeight);
        $(function() {
            Phishing.main.init();
        })
