extends extends/layout.jade
block import
    link(rel="stylesheet", href="css/index.css")
block content
    div.container-fluid
        div.row.welcome
            div.col-xs-6.col-xs-offset-3
                h1 Phishing's Blog