extends extends/layout.jade
block import
    link(rel="stylesheet", href="css/index.css")
block content
    header.white.bg-gray.bg-cover.bg-center.welcome
        div.center.px2.py4.shadow
            h1.h1.h0-responsive.caps.mt4.mb0.regular PHISHING
            p.h3 A Blog Write By Phishing
            a.h3.button.mb4(href="#") Look

    section.container.content
