div {
  box-sizing: border-box;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.welcome {
  height: 100vh;
  background: #ccc;
  background: url(../img/bg_tree.jpg) center no-repeat;
  background-size: 100%;
  text-align: center;
  position: relative;
}
.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  left: 0px;
  top: 0px;
}
