@import url(./include/var.import.less);
@import url(./include/footer.import.less);

.welcome {
    height: 100vh;
    background-image: url(../img/bg_tree.jpg);
    // background-size: 100%;
    background-attachment: fixed;
    // text-align: center;
    // position: relative;
}
.shadow {
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
}