@import url(./include/var.import.less);
@import url(./include/footer.import.less);

.welcome {
    background-image: url(../img/bg_beach.jpg);
    .transition;
}
.shadow {
    background: rgba(0, 0, 0, 0.2);
}
.article-item {
    .transition;

    &:hover {
        opacity: 1;
    }
}