doctype html
html
    head
        title Phishing
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        link(rel="stylesheet", href="/basscss/css/basscss.min.css")
        block css
    body
        block content
        footer.center.bg-gray.full-width.footer
            a.navy.h4.no-decoration(href="/about") about me

        script(src="/jquery/dist/jquery.min.js")
        block js