doctype html
html
    head
        title Phishing
        script(src="../../bower_components/webcomponentsjs/webcomponents-lite.min.js")
        link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css")
        block import
    body
        block content